img{
    width:auto\9;
    height:auto;
    max-width:100%;
    vertical-align:middle;
    border:0;
    -ms-interpolation-mode:bicubic
}

.row-fluid{
    width:100%;
    *zoom:1
}
.row-fluid:before,.row-fluid:after{
    display:table;
    line-height:0;
    content:""
}
.row-fluid:after{
    clear:both
}
.row-fluid [class*=span]{
    display:block;
    float:left;
    width:100%;
    min-height:30px;
    margin-left:2.127659574468085%;
    *margin-left:2.074468085106383%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.row-fluid .no-minheight{
    min-height:0
}
.row-fluid [class*=span]:first-child{
    margin-left:0
}
.row-fluid .controls-row [class*=span]+[class*=span]{
    margin-left:2.127659574468085%
}
.row-fluid .span12{
    width:100%;
    *width:99.94680851063829%
}
.row-fluid .span11{
    width:91.48936170212765%;
    *width:91.43617021276594%
}
.row-fluid .span10{
    width:82.97872340425532%;
    *width:82.92553191489361%
}
.row-fluid .span9{
    width:74.46808510638297%;
    *width:74.41489361702126%
}
.row-fluid .span8{
    width:65.95744680851064%;
    *width:65.90425531914893%
}
.row-fluid .span7{
    width:57.44680851063829%;
    *width:57.39361702127659%
}
.row-fluid .span6{
    width:48.93617021276595%;
    *width:48.88297872340425%
}
.row-fluid .span5{
    width:40.42553191489362%;
    *width:40.37234042553192%
}
.row-fluid .span4{
    width:31.914893617021278%;
    *width:31.861702127659576%
}
.row-fluid .span3{
    width:23.404255319148934%;
    *width:23.351063829787233%
}
.row-fluid .span2{
    width:14.893617021276595%;
    *width:14.840425531914894%
}
.row-fluid .span1{
    width:6.382978723404255%;
    *width:6.329787234042553%
}
.row-fluid .offset12{
    margin-left:104.25531914893617%;
    *margin-left:104.14893617021275%
}
.row-fluid .offset12:first-child{
    margin-left:102.12765957446808%;
    *margin-left:102.02127659574467%
}
.row-fluid .offset11{
    margin-left:95.74468085106382%;
    *margin-left:95.6382978723404%
}
.row-fluid .offset11:first-child{
    margin-left:93.61702127659574%;
    *margin-left:93.51063829787232%
}
.row-fluid .offset10{
    margin-left:87.23404255319149%;
    *margin-left:87.12765957446807%
}
.row-fluid .offset10:first-child{
    margin-left:85.1063829787234%;
    *margin-left:84.99999999999999%
}
.row-fluid .offset9{
    margin-left:78.72340425531914%;
    *margin-left:78.61702127659572%
}
.row-fluid .offset9:first-child{
    margin-left:76.59574468085106%;
    *margin-left:76.48936170212764%
}
.row-fluid .offset8{
    margin-left:70.2127659574468%;
    *margin-left:70.10638297872339%
}
.row-fluid .offset8:first-child{
    margin-left:68.08510638297872%;
    *margin-left:67.9787234042553%
}
.row-fluid .offset7{
    margin-left:61.70212765957446%;
    *margin-left:61.59574468085106%
}
.row-fluid .offset7:first-child{
    margin-left:59.574468085106375%;
    *margin-left:59.46808510638297%
}
.row-fluid .offset6{
    margin-left:53.191489361702125%;
    *margin-left:53.085106382978715%
}
.row-fluid .offset6:first-child{
    margin-left:51.063829787234035%;
    *margin-left:50.95744680851063%
}
.row-fluid .offset5{
    margin-left:44.68085106382979%;
    *margin-left:44.57446808510638%
}
.row-fluid .offset5:first-child{
    margin-left:42.5531914893617%;
    *margin-left:42.4468085106383%
}
.row-fluid .offset4{
    margin-left:36.170212765957444%;
    *margin-left:36.06382978723405%
}
.row-fluid .offset4:first-child{
    margin-left:34.04255319148936%;
    *margin-left:33.93617021276596%
}
.row-fluid .offset3{
    margin-left:27.659574468085104%;
    *margin-left:27.5531914893617%
}
.row-fluid .offset3:first-child{
    margin-left:25.53191489361702%;
    *margin-left:25.425531914893618%
}
.row-fluid .offset2{
    margin-left:19.148936170212764%;
    *margin-left:19.04255319148936%
}
.row-fluid .offset2:first-child{
    margin-left:17.02127659574468%;
    *margin-left:16.914893617021278%
}
.row-fluid .offset1{
    margin-left:10.638297872340425%;
    *margin-left:10.53191489361702%
}
.row-fluid .offset1:first-child{
    margin-left:8.51063829787234%;
    *margin-left:8.404255319148938%
}
.row-fluid_5-col .span2{
    width:18.279%;
    *width:18.179%
}
[class*=span].hide,.row-fluid [class*=span].hide{
    display:none
}
[class*=span].pull-right,.row-fluid [class*=span].pull-right{
    float:right
}



.m-auto{
    margin:auto!important
}
.m-0{
    margin:0!important
}
.m-10{
    margin:10px!important
}
.m-30{
    margin:30px
}
.m-20{
    margin:20px
}
.ml-0{
    margin-left:0!important
}
.ml-3{
    margin-left:3px!important
}
.ml-5{
    margin-left:5px!important
}
.ml-6{
    margin-left:6px!important
}
.ml-10{
    margin-left:10px
}
.ml-13{
    margin-left:13px!important
}
.ml-15{
    margin-left:15px!important
}
.ml-20{
    margin-left:20px
}
.ml-30{
    margin-left:30px
}
.ml-50{
    margin-left:50px
}
.ml-130{
    margin-left:130px!important
}
.mt-0{
    margin-top:0!important
}
.mt-5{
    margin-top:5px!important
}
.mt-10{
    margin-top:10px!important
}
.mt-15{
    margin-top:15px!important
}
.mt-20{
    margin-top:20px!important
}
.mt-25{
    margin-top:25px
}
.mt-30{
    margin-top:30px!important
}
.mt-40{
    margin-top:40px
}
.mt-70{
    margin-top:70px
}
.mt-80{
    margin-top:80px
}
.mr-0{
    margin-right:0!important
}
.mr-5{
    margin-right:5px!important
}
.mr-10{
    margin-right:10px
}
.mr-15{
    margin-right:15px
}
.mr-20{
    margin-right:20px
}
.mr-30{
    margin-right:30px
}
.mb-0{
    margin-bottom:0!important
}
.mb-3{
    margin-bottom:3px
}
.mb-5{
    margin-bottom:5px!important
}
.mb-10{
    margin-bottom:10px!important
}
.mb-15{
    margin-bottom:15px!important
}
.mb-20{
    margin-bottom:20px
}
.mb-30{
    margin-bottom:30px!important
}
.mb-40{
    margin-bottom:40px
}
.mb-50{
    margin-bottom:50px
}
.p-0{
    padding:0!important
}
.p-5{
    padding:5px!important
}
.p-10{
    padding:10px!important
}
.p-20{
    padding:20px!important
}
.p-30{
    padding:30px!important
}
.pl-20{
    padding-left:20px!important
}
.pl-25{
    padding-left:25px
}
.pl-10{
    padding-left:10px!important
}
.pl-80{
    padding-left:80px!important
}
.pl-50{
    padding-left:50px!important
}
.pt-0{
    padding-top:0!important
}
.pt-50p{
    padding-top:50%!important
}
.pt-50{
    padding-top:50px!important
}
.pb-0{
    padding-bottom:0!important
}
.pb-20{
    padding-bottom:20px!important
}
.pb-30{
    padding-bottom:30px!important
}
.pb-40{
    padding-bottom:40px!important
}
.pt-30{
    padding-top:30px!important
}
.pt-20{
    padding-top:20px!important
}
.pr-10{
    padding-right:10px!important
}
.pr-20{
    padding-right:20px!important
}
.pr-30{
    padding-right:30px!important
}
.clear-b{
    clear:both
}
.inline-block{
    display:inline-block!important
}
.display-table{
    display:table
}
.none{
    display:none!important
}
.display-block{
    display:block
}
.noresize{
    resize:none
}
.va-texttop{
    vertical-align:text-top!important
}
.va-middle{
    vertical-align:middle!important
}
.va-sub{
    vertical-align:sub!important
}
.relative{
    position:relative
}
.absolute{
    position:absolute
}
.w-auto{
    width:auto!important
}
.w-25{
    width:25px
}
.w-30{
    width:30px
}
.w-40{
    width:40px
}
.w-65{
    width:65px
}
.w-70{
    width:70px
}
.w-80{
    width:80px
}
.w-90{
    width:90px
}
.w-95{
    width:95px
}
.w-105{
    width:105px
}
.w-110{
    width:110px
}
.w-120{
    width:120px
}
.w-140{
    width:140px!important
}
.w-150{
    width:150px
}
.w-180{
    width:180px
}
.w-200{
    width:200px!important
}
.w-250{
    width:250px
}
.w-300{
    width:300px
}
.w-100p{
    box-sizing:border-box;
    width:100%!important
}
.w-597{
    width:597px!important
}
.w-1194{
    width:1194px!important
}
.w-1000{
    width:1e3px
}
.w-977{
    width:977px
}
.mh-300{
    max-height:300px;
    overflow:auto
}
.h-300{
    height:300px
}
.mh-0{
    min-height:0!important
}
.ls-4{
    letter-spacing:.04em
}
.lh-0{
    line-height:0
}
.lh-14{
    line-height:14px
}
.lh-18{
    line-height:18px
}
.lh-20{
    line-height:20px!important
}
.lh-25{
    line-height:25px!important
}
.lh-30{
    line-height:30px!important
}
.lh-35{
    line-height:35px!important
}
.lh-40{
    line-height:40px!important
}
.ta-center{
    text-align:center
}
.w-full{
    width:100%
}
.home-only .container{
    width:960px
}
.mini-input{
    padding:0!important;
    margin:0!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    box-shadow:none!important;
    width:90px
}
.select-styled{
    width:200px
}
.select-styled_medium{
    width:130px
}
.select-styled_medium.selectBox-dropdown{
    padding:5px 12px
}
.top-filter .select-styled_medium.selectBox-dropdown{
    display:block!important;
    float:left
}
.fw-normal{
    font-weight:400
}
.font-normal{
    font-weight:400
}
.fs-60{
    font-size:60px
}
.fs-50{
    font-size:50px
}
.fs-40{
    font-size:40px
}
.fs-30{
    font-size:30px
}
.fs-35{
    font-size:35px
}
.fs-20{
    font-size:20px
}
.fs-18{
    font-size:18px
}
.fs-16{
    font-size:16px
}
.fs-15{
    font-size:15px
}
.fs-14{
    font-size:14px!important
}
.fs-13{
    font-size:13px!important
}
.fs-12{
    font-size:12px!important
}
.fs-11{
    font-size:11px!important
}
.fs-10{
    font-size:10px
}
.fs-9{
    font-size:9px!important
}
.ln-20{
    line-height:20px
}
.ln-40{
    line-height:52px!important
}
.ellipsis{
    white-space:nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis
}
.cursor-default:hover{
    cursor:default;
    color:inherit
}
.overflow-hidden{
    overflow:hidden
}

.img-frame{
    border:1px solid #ddd;
    padding:5px;
    background:#fff
}
.img-border{
    border:1px solid #ddd
}
.img-25{
    width:25px;
    height:25px
}
.img-27{
    width:27px;
    height:27px
}
.img-35{
    width:35px;
    height:35px
}
.img-40{
    width:40px;
    height:40px
}
.img-45{
    width:45px;
    height:45px
}
.img-50{
    width:50px;
    height:50px
}
.img-80{
    width:80px;
    height:80px
}
.img-200{
    width:200px;
    height:200px
}
.img-200-circle{
    -moz-border-radius:150px;
    -webkit-border-radius:150px
}
.ie7 .navbar .nav .dropdown-toggle .caret{
    margin-top:6px
}
#map-canvas,#map_canvas{
    height:250px
}


.background-green{
    width:100%;
    background:#64bb5d ;
    min-width:960px;
    /*position: relative; top: -40px;*/
}

.t-title{
    color:#fff;
    font-size:2.3em;
    margin:20px auto 50px auto;
    text-align:center
}
.circle-container{
    width:100%;
    margin:0 auto;
}
.circle{
    display:block;
    height:260px;
    width:260px;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color:#fff;
    position:relative;
    z-index:99;
    text-align:center;
    margin:0 auto
}
.circle-img1,.circle-img2{
    position:absolute;
    top:0;
    left:33px
}
.circle-text{
    position:absolute;
    width:260px;
    bottom:25px;
    left:0
}
.circle>h2{
    color:#67be60;
    margin-bottom:0;
    font-size:18px
}
.circle-shadow{
    margin:10px auto 0 auto;
    width:260px;
    height:33px;
    margin-bottom:30px;
    text-align:center
}
.triangle{
    width:0;
    height:0;
    border-style:solid;
    border-width:0 37px 25px;
    border-color:transparent transparent #f8f8f8 transparent
}
.triangle.triangle-1{
    margin-left:114px
}
.triangle.triangle-2{
    margin:0 auto
}
.triangle.triangle-3{
    margin-left:114px
}

.box-wide-counter{
    width:36px;
    height:37px;
    position:absolute;
    z-index:999;
    top:0;
    left:-37px;
    color:#fff;
    text-align:center;
    line-height:37px;
    background:url(../img/guide2/ribbon-counter2.png) no-repeat
}
.box-wide{
    border:1px solid #dbdbdb;
    width:920px;
    margin:0 0 40px 38px;
    position:relative;
    background:#fff;
    -moz-box-shadow:3px 2px 1px rgba(204,204,204,.5);
    -webkit-box-shadow:3px 2px 1px rgba(204,204,204,.5);
    box-shadow:3px 2px 1px rgba(204,204,204,.5)
}
.box-wide-left{
    padding:20px;
    vertical-align:top;
    text-align:center
}
.box-wide-left-paralel{
    width:439px;
    *float:left;
    *vertical-align:top
}
.box-wide-paralel-text{
    border-top:1px solid #dbdbdb;
    padding:20px 30px;
    color:#333;
    display:block;
    float:none;
    clear:both
}
.box-wide_full{
    width:958px;
    margin-left:0
}
.box-wide .opt-card li{
    display:inline-table
}
.box-wide .opt-card li.active{
    box-shadow:0 0 0 1px #e55b36;
    border:1px solid #e55b36
}
.box-gimmick{
    position:relative;
    width:960px;
    height:72px
}
.box-gimmick-img{
    position:absolute;
    left:244px;
    z-index:2;
    top:-14px
}
.box-heading{
    margin:0 auto 40px;
    width:850px
}
